.App {
	display: relative;
	margin: auto;
	width: 50%;
	padding: 20px;
	border: 3px solid black;
}

.user-interface {
	position: absolute;
	bottom: 20px;
	display: flex;
	gap: 10px;
}

.msg:nth-child(even) {
	background-color: rgba(222, 202, 202, 0.827);
	padding: 10px;
}
